.main-chat
  .main-chat__top
    .main-chat__top__group
      .main-chat__top__group__right
        .main-chat__top__group__right__name
          = @group.name
        .main-chat__top__group__right__member
          - @group.users.each do |user|
            = user.name
      .main-chat__top__group__left
        =link_to edit_group_path(@group), method: :get do
          %p.main-chat__top__group__left__edit
            Edit
  .main-chat__message
    .main-chat__message__info
      %p.main-chat__message__info__name
        masa
      %p.main-chat__message__info__date 
        2019/11/20(Wed) 17:43:01
    %p.main-chat__message__text
      おはよう
  .form
    %form.main-chat__bottom
      .input-box
        %input{text: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class:"input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}